body {
    padding-top: 70px;
}

.nav {
    max-height: 200px;
    overflow-y:scroll;
}

.circle {
	width:15px;
	height:15px;
	border-radius:250px;
	text-align:center;	
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#main-container {
    height: 100%;
}

.navbar-right {
    margin-right: 0px !important;
}

.active {
    font-weight: bold;
}